<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Turismo Ya.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D21E19831E5A628300B24687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21E19971E5A628400B24687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D21E19A21E5A628400B24687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
